{% extends "layout" %}

{% block page %}
  <h1>Agents</h1>

  {% include "filter" %}

  <link rel="stylesheet" href="/agent.css">

  <br>
  <a href="#" class="btn" onclick="window.location.href = '/agents/add'; return false;">Add Agent</a>
  <a href="#" class="btn" onclick="window.location.href = '/agents/delete'; return false;">Delete Displayed</a>

  <input type="radio" id="all_filter" name="agent_status_filter" value="-1" checked>
  <label for="all_filter">All</label>
  <input type="radio" id="offline_filter" name="agent_status_filter" value="0">
  <label for="offline_filter">Offline</label>
  <input type="radio" id="online_filter" name="agent_status_filter" value="1">
  <label for="online_filter">Online</label>
  <br><br>

  <div id="items">
  </div>

  <script src="/static/pagination.js"></script>
  <script src="/static/agents.js"></script>

  <script>
    renderAgentsTable({ filter: "{{ filter }}",
                        sort: "{{ sort }}",
                        order: "{{ order }}",
                        page: "{{ page }}",
                        range_start: "{{ range_start }}",
                        range_end: "{{ range_end }}",
      });
  </script>

{% endblock %}