{% extends "layout" %}

{% block page %}
  <h1>Agents</h1>

  {% include "filter" %}

  <table>
    <thead>
      <tr>
      {% set columns = [
        ('', ''),
        ('name', 'Agent Name'),
        ('hostname', 'Hostname'),
        ('port', 'Port'),
        ('last_ping', 'Last Ping'),
        ('', ''),
        ('', ''),
      ] %}
      {% for col, label in columns %}
        <th {% if sort == col %}style="background-color: #999999"{% endif %}>
        <a href="#" onclick="applyFilterAndReload('sort', '{{ col }}', true); return false;">
          {{ label }}
        </a>
        </th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td><input type="checkbox" name="selected_agents" value="{{ item.id }}"></td>
          <td>{{ item.name }}</td>
          <td>{{ item.hostname }}</td>
          <td>{{ item.port }}</td>
          <td class="utc-date" data-timestamp="{{ item.last_ping['$date']['$numberLong'] }}">{{ item.last_ping['$date']['$numberLong'] }}</td>
          <td><a href="#">Edit</a></td>
          <td><a href="#">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include "pagination" %}
 
{% endblock %}