{% extends "layout" %}

{% block page %}
  <h1>{{ page_name }}</h1>

<br>
{% if error and error != "" %}
    <span class="error">{{ error }}</span>
    <br><br><br>
    <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
{% else %}

    <form method="post" action="">
        <div class="form-group">
            <label class="form-label" for="agent_name">Name</label>
            <input type="text" id="agent_name" name="name" class="form-control" value="{{ agent.name }}">
        </div>
        <div class="form-group">
            <label class="form-label" for="agent_hostname">Hostname</label>
            <input type="text" id="agent_hostname" name="hostname" class="form-control" value="{{ agent.hostname }}">
        </div>
        <div class="form-group">
            <label class="form-label" for="agent_port">Port</label>
            <input type="number" id="agent_port" name="port" class="form-control" value="{{ agent.port }}">
        </div>
        <div class="form-group">
            Last Ping: <span class="utc-date" data-timestamp="{{ agent.last_ping['$date']['$numberLong'] }}">{{ agent.last_ping['$date']['$numberLong'] | default('Never') }}</span>
        </div>
        <div class="form-group">
            Status:
            {% if agent.status == 1 %}
                <span class="badge badge-success">Online</span>
            {% else %}
                <span class="badge badge-error">Offline</span>
            {% endif %}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
    </form>

    <script>
        DateTimeUtils.convertUtcDateElements();
    </script>

{% endif %}

 
{% endblock %}