
  <link rel="stylesheet" href="/static/flatpickr.min.css">
  <script src="/static/flatpickr.js"></script>
  
  <div class="search_wrapper">
    <input onchange="FilterUtils.applyFilterAndReload('filter', this.value, false, true); return false" class="search" name="search" value="{{ filter }}" placeholder="Search..." autofocus>
  </div>

  <select id="range_select" name="range_select" onchange="FilterUtils.applyFilterAndReload('range_select', this.value, false, true);">
    {% for range_field in range_fields %}
    <option value="{{ range_field }}"{% if range_select == range_field %} selected{% endif %}>{{ range_field }}</option>
    {% endfor %}
  </select>

  <label for="range_start" style="margin: 0;">From:</label>
  <input id="range_start" class="date" type="date" style="margin-right: 1em;">
  <button id="clear_start" class="clear-button" onclick="clearInputById('range_start');">&#10005;</button>
  <label for="range_end" style="margin: 0;">To:</label>
  <input id="range_end" class="date" type="date" style="margin-right: 1em;">
  <button id="clear_end" class="clear-button" onclick="clearInputById('range_end');">&#10005;</button>

  <div style="float: right">
    <button class="btn" style="margin-right: 0.5em;" onclick="FilterUtils.applyFilterAndReload('filter', document.querySelector('input[name=search]').value, false, true); return false;">Apply</button>
    <button class="btn" onclick="javascript:FilterUtils.clearFilter();"" return false;">Clear</button>
  </div>

  <script>
      const start_result = DateTimeUtils.setInputTime('range_start', {{ range_start }});
      const end_result = DateTimeUtils.setInputTime('range_end', {{ range_end }});

      const start_fp = flatpickr("#range_start", {
        enableTime: true,
        time_24hr: false,
        dateFormat: "m/d/Y h:i K",
        defaultHour: 0,
        defaultMinute: 0,
        defaultDate: start_result.formattedDate,
        utc: true,
      });
      const end_fp = flatpickr("#range_end", {
        enableTime: true,
        time_24hr: false,
        dateFormat: "m/d/Y h:i K",
        defaultHour: 0,
        defaultMinute: 0,
        defaultDate: end_result.formattedDate,
        utc: true,
      });

      function clearInputById(id) {
        const input = document.getElementById(id);
        if (input) {
          input.value = '';
          if (input._flatpickr) {
            input._flatpickr.clear();
          }
        }
      }

  </script>