
  <link rel="stylesheet" href="/static/flatpickr.min.css">
  <script src="/static/flatpickr.js"></script>
  
  <script>
  
  function setActiveTab(item) {
    if(item.id === 'relative_tab') {
      document.getElementById('absolute_tab').classList.remove('active');
      item.classList.add('active');
      document.getElementById('absolute').style.display = 'none'; 
      document.getElementById('relative').style.display = 'block';
    } else {
      document.getElementById('relative_tab').classList.remove('active');
      item.classList.add('active');
      document.getElementById('absolute').style.display = 'block'; 
      document.getElementById('relative').style.display = 'none';
    }
  }

  </script>

  <div class="search_wrapper">
    <input onchange="FilterUtils.applyFilterAndReload('filter', this.value, false, true); return false" class="search" name="search" value="{{ filter }}" placeholder="Search..." autofocus>
  </div>

  <div class="date_tab_wrapper">
      <button id="relative_tab" class="date_tab" onclick="javascript:setActiveTab(this);">Relative</button>
      <button id="absolute_tab" class="date_tab" onclick="javascript:setActiveTab(this);">Absolute</button>
  </div>


  <div class="range_select">

    <div id="relative" style="display: none;">
      <select onchange="FilterUtils.applyFilterAndReload('range_select', this.value, false, true);">
        {% for range_field in range_fields %}
        <option value="{{ range_field }}"{% if range_select == range_field %} selected{% endif %}>{{ range_field }}</option>
        {% endfor %}
      </select>

      Last <select id="relative_select" name="relative_select" onchange="FilterUtils.applyFilterAndReload('relative_select', this.value, false, true);">
        <option value="5" {% if relative_select == 5 %} selected{% endif %}>5</option>
        <option value="10" {% if relative_select == 10 %} selected{% endif %}>10</option>
        <option value="30" {% if relative_select == 30 %} selected{% endif %}>30</option>
        <option value="60" {% if relative_select == 60 %} selected{% endif %}>60</option>
      </select>
      <select id="relative_unit_select" name="relative_unit_select" onchange="FilterUtils.applyFilterAndReload('relative_unit_select', this.value, false, true);">
        <option value="seconds" {% if relative_unit_select == unit %} selected{% endif %}>seconds</option>
        <option value="minutes" {% if relative_unit_select == 'minutes' %} selected{% endif %}>minutes</option>
        <option value="hours" {% if relative_unit_select == 'hours' %} selected{% endif %}>hours</option>
        <option value="days" {% if relative_unit_select == 'days' %} selected{% endif %}>days</option>
        <option value="weeks" {% if relative_unit_select == 'weeks' %} selected{% endif %}>weeks</option>
      </select>
    </div>

    <div id="absolute" style="display: none;">
      <select onchange="FilterUtils.applyFilterAndReload('range_select', this.value, false, true);">
        {% for range_field in range_fields %}
        <option value="{{ range_field }}"{% if range_select == range_field %} selected{% endif %}>{{ range_field }}</option>
        {% endfor %}
      </select>

      <label for="range_start" style="margin: 0;">From:</label>
      <input id="range_start" class="date" type="date" style="margin-right: 1em;">
      <button id="clear_start" class="clear-button" onclick="clearInputById('range_start');">&#10005;</button>
      <label for="range_end" style="margin: 0;">To:</label>
      <input id="range_end" class="date" type="date" style="margin-right: 1em; width: 160px;">
      <button id="clear_end" class="clear-button" onclick="clearInputById('range_end');">&#10005;</button>

    </div>

    <div style="float: right">
      <button class="btn" style="margin-right: 0.5em;" onclick="FilterUtils.applyFilterAndReload('filter', document.querySelector('input[name=search]').value, false, true); return false;">Apply</button>
      <button class="btn" onclick="javascript:FilterUtils.clearFilter();"" return false;">Clear</button>
    </div>

  </div>

  <div id="item_ids" style="display: none;">
  </div>

  <script>
      const start_result = DateTimeUtils.setInputTime('range_start', {{ range_start }});
      const end_result = DateTimeUtils.setInputTime('range_end', {{ range_end }});

      const start_fp = flatpickr("#range_start", {
        enableTime: true,
        time_24hr: false,
        dateFormat: "m/d/Y h:i K",
        defaultHour: 0,
        defaultMinute: 0,
        defaultDate: start_result.formattedDate,
        utc: true,
      });
      const end_fp = flatpickr("#range_end", {
        enableTime: true,
        time_24hr: false,
        dateFormat: "m/d/Y h:i K",
        defaultHour: 0,
        defaultMinute: 0,
        defaultDate: end_result.formattedDate,
        utc: true,
      });

      function clearInputById(id) {
        const input = document.getElementById(id);
        if (input) {
          input.value = '';
          if (input._flatpickr) {
            input._flatpickr.clear();
          }
        }
      }

  </script>