{% extends "layout" %}

{% block page %}
  <h1>Jobs</h1>

  {% include "filter" %}

  <br>
  <a href="#" class="btn" onclick="window.location.href = '/jobs/add'; return false;">Add Job</a>
  <a href="#" class="btn" onclick="javascript:FilterUtils.deleteItemsFromDiv('/jobs');">Delete Displayed</a>
  
  <input onchange="FilterUtils.applyFilterAndReload('status_filter', '');" type="radio" id="clear_filter" name="job_status_filter" value="-1" {% if status_filter is not defined or status_filter == ' ' or status_filter > 5 %}checked{% endif %}>
  <label for="clear_filter">All</label>
  <input onchange="FilterUtils.applyFilterAndReload('status_filter', '0');" type="radio" id="pending_filter" name="job_status_filter" value="0" {% if status_filter is defined and status_filter == '0' %}checked{% endif %}>
  <label for="pending_filter">Pending</label>
  <input onchange="FilterUtils.applyFilterAndReload('status_filter', '1');" type="radio" id="running_filter" name="job_status_filter" value="1" {% if status_filter is defined and status_filter == '1' %}checked{% endif %}> 
  <label for="running_filter">Running</label>
  <input onchange="FilterUtils.applyFilterAndReload('status_filter', '2');" type="radio" id="completed_filter" name="job_status_filter" value="2" {% if status_filter is defined and status_filter == '2' %}checked{% endif %}> 
  <label for="completed_filter">Completed</label>
  <input onchange="FilterUtils.applyFilterAndReload('status_filter', '3');" type="radio" id="frozen_filter" name="job_status_filter" value="3" {% if status_filter is defined and status_filter == '3' %}checked{% endif %}> 
  <label for="frozen_filter">Frozen</label>
  <input onchange="FilterUtils.applyFilterAndReload('status_filter', '4');" type="radio" id="error_filter" name="job_status_filter" value="4" {% if status_filter is defined and status_filter == '4' %}checked{% endif %}> 
  <label for="error_filter">Error</label>
  <br><br>

  <div id="items">
  </div>

  <script src="/static/pagination.js"></script>
  <script src="/static/jobs.js"></script>

  <script>
    renderJobsTable({ filter: "{{ filter }}",
                      sort: "{{ sort }}",
                      order: "{{ order }}",
                      page: "{{ page }}",
                      range_start: "{{ range_start }}",
                      range_end: "{{ range_end }}",
                      range_select: "{{ range_select }}",
                      status_filter: "{{ status_filter }}",
                      relative_select: "{{ relative_select }}",
                      relative_select_value: "{{ relative_select_value }}",
                      relative_select_unit: "{{ relative_select_unit }}",
      });
  </script>

 
{% endblock %}