<!doctype html>
<html>
  <head>

    <link rel="stylesheet" href="/style.css">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <title>Rust Action Dispatch - {{ title }}</title>
  </head>
  <body>
    <div class="nav">
      {% include "nav" %}
    </div>
    <div class="content">
        {% block page %}{% endblock %}
    </div>
    {% include "footer" %}
  </body>
</html>