<!doctype html>
<html>
  <head>

    <link rel="stylesheet" href="/style.css">

    <script src="/static/core.js"></script>

  <dialog id="myDialog">
       <div class="dialog-content" id="dialog-content">
           <h2>Welcome to My Dialog!</h2>
           <p>This is a simple dialog that sits in the middle of the screen.</p>
       </div>
       <div class="dialog-actions">
           <button class="confirm" onclick="closeMyDialog()">Ok</button>
       </div>
   </dialog>

  <script>
      function closeMyDialog() {
        myDialog.close();
    }
  </script>

    <title>Rust Action Dispatch - {{ page_name }}</title>
  </head>
  <body>
    <div class="nav">
      {% include "nav" %}
    </div>
    <div class="content">
        {% block page %}{% endblock %}
    </div>
    {% include "footer" %}
  </body>
</html>