<!doctype html>
<html>
  <head>

    <link rel="stylesheet" href="/style.css">

    <meta http-equiv="refresh" content="5">

    <title>Rust Action Dispatch - {{ page_name }}</title>
  </head>
  <body>
    <div class="nav">
      {% include "nav" %}
    </div>
    <div class="content">
        {% block page %}{% endblock %}
    </div>
    {% include "footer" %}
  </body>
</html>