
<center>
    <b>Rust <span class="nav-red">Action</span> Dispatch</b>
</center>

<div class="nav-logo">
    <img src="/static/rust.png" alt="Logo" style="width: 100px; height: auto;">
</div>

<div class="nav-items">
    <span class="nav-item {% if page_name == "Dashboards" %}selected{%endif%}"><a href="/">Dashboards</a></span>
    <span class="nav-item {% if page_name == "Jobs" %}selected{%endif%}"><a href="/jobs">Jobs</a></span>
    <span class="nav-item {% if page_name == "Runs" %}selected{%endif%}"><a href="/runs">Runs</a></span>
    <span class="nav-item {% if page_name == "Events" %}selected{%endif%}"><a href="/events">Events</a></span>
    <span class="nav-item {% if page_name == "Agents" %}selected{%endif%}"><a href="/agents">Agents</a></span>
    <span class="nav-item {% if page_name == "Settings" %}selected{%endif%}"><a href="/settings">Settings</a></span>
    <span class="nav-item {% if page_name == "Logout" %}selected{%endif%}"><a href="/logout">Logout User</a></span>

    <br>
    <span class="copyright">
        Copyright &copy; 2025 Rust Action Dispatch
    </span>
</div>