
<center>
    <b>Rust <span class="nav-red">Action</span> Dispatch</b>
</center>

<div class="nav-logo">
    <img src="/static/rust.png" alt="Logo" style="width: 100px; height: auto;">
</div>

<div class="nav-items">
    <a href=/">|&nbsp;&nbsp;Dashboards</a><br>
    <a href=/jobs">|&nbsp;&nbsp;Jobs</a><br>
    <a href="/runs">|&nbsp;&nbsp;Job Runs</a><br>
    <a href="/events">|&nbsp;&nbsp;Events</a><br>
    <a href="/agents">|&nbsp;&nbsp;Agents</a><br>
    <a href="/logout">|&nbsp;&nbsp;Log Out #User#</a><br>

    <br>
    <span class="copyright">
        Copyright &copy; 2025 Rust Action Dispatch
    </span>
</div>