  <div class="pagination_wrapper">
    <div class="pagination_prev">
      {% if current_page != 1 %}
        <a href="#" class="btn" onclick="decrementPageAndReload(); return false;">&laquo; Prev</a>
      {% endif %}
    </div>
    <div class="pagination_center">
      {% for page in range(1, total_pages + 1) %}
        {% if page == current_page %}
          <span style="font-weight: bold;">{{ page }}</span>
        {% else %}
        {% if total_pages > 5 %}
            {% if page == 2 and current_page > 4 %}
                ... 
            {% elif page == total_pages and current_page < total_pages - 2 %}
                ... <a href="#" onclick="goToPage({{ page }}); return false;">{{ page }}</a>
            {% elif page == 1 or page == total_pages or (page >= current_page - 1 and page <= current_page + 1) %}
                <a href="#" onclick="goToPage({{ page }}); return false;">{{ page }}</a>
            {% endif %}
        {% else %}
            <a href="#" onclick="goToPage({{ page }}); return false;">{{ page }}</a>
        {% endif %} {% endif %}
        {% if not loop.last %} {% endif %}
      {% endfor %}
    </div>
    <div class="pagination_next">
      {% if current_page != total_pages %}
        <a href="#" class="btn" onclick="incrementPageAndReload(); return false;">Next &raquo;</a>
      {% endif %}
    </div>
  </div>
